<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>
<body>

<!-------------------FILM LIST------------------------------>
  <script id="tpl-film-list" type="text/html" charset="UTF-8">
  <div class='content-item'>
    <a href='javascript:void(0)' onclick="getMovieDetails({{id}})">
      <img src='{{picturePath}}' alt='{{nameNative}}'>
      <div class='details'>
        <h4 class='card-title'>{{nameRussian}}</h4>
        <span>Price: {{price}}</span>
      </div>
    </a>
  </div>
  </script>

  <!-------------------FILM DETAILS ------------------------>
  <script id="tpl-film-details" type="text/html" charset="UTF-8">

    <!-- FILM DETAILS -->
    <section>
      <!--header -->
      <div class="flex-container-row">
        <h2 id="nameRussian" class="film-title">{{nameRussian}}</h2>
        {{#adminRole}}
        <div class="row">
          <button type="button" class="btn btn-outline-warning" onclick="openUpdateMovieModal()" title="Изменить фильм">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button type="button" class="btn btn-outline-danger" title="Удалить фильм">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        {{/adminRole}}
      </div>

      <!-- body -->
      <div class="row">
        <div class="col-lg-5">
          <img id="picturePath" src="{{picturePath}}"/>
        </div>

        <div class="row col-lg-7">
          <article class="film-data">
            <div class="film-description">
              <input type="hidden" id="movieId" value="{{id}}"/>
              <p id="description">{{description}}</p>
              <dl>
                <dt class="film-dt">Оригинал:</dt>
                <dd id="nameNative">{{nameNative}}</dd>
                <dt class="film-dt">Год выпуска:</dt>
                <dd id="yearOfRelease">{{yearOfRelease}}</dd>
                <dt class="film-dt">Рейтинг:</dt>
                <dd id="rating">{{rating}}</dd>
                <dt class="film-dt">Цена:</dt>
                <dd id="price">{{price}}</dd>
              </dl>

              <strong>Страна:
                {{#countries}}
                <span class="badge badge-info">{{name}}</span>
                {{/countries}}
              </strong>

              <br>

              <strong>Жанр:
                {{#genres}}
                <span class="badge badge-danger">{{name}}</span>
                {{/genres}}
              </strong>
            </div>
          </article>
        </div>
      </div>
    </section>

    <!-- REVIEWS -->
    <section id="review">
      <!-- header -->
      <h3 class="section-title">Отзывы о фильме:</h3>
      <div class="flex-container-row">
        {{#userRole}}
        <textarea class="form-control" id="reviewText" rows="3"></textarea>
        <button type="button" class="btn btn-primary" onclick="sendAddReview()" title="Добавить отзыв">Опубликовать</button>
        {{/userRole}}
      </div>

      <!-- body -->
      {{#reviews}}
      <hr>
      <div class="reviews flex-container-row">
        <blockquote class="review">
          <p>{{text}}</p>
          <cite class="review-author">{{user.nickname}}</cite>
        </blockquote>
        {{#adminRole}}
        <button type="button" class="btn btn-outline-danger" title="Удалить отзыв"><i class="fas fa-user-times"></i></button>
        {{/adminRole}}
      </div>
      {{/reviews}}
    </section>
  </script>

</body>
</html>